extends layout

block content
  .container
    h1 My Closet
    form(action='/closet/upload', method='POST')
      .form-group
        label(for='name') Outfit Name
        input#name.form-control(type='text', name='name', required)
      .form-group
        label(for='image') Image URL
        input#image.form-control(type='text', name='image', required)
      button.btn.btn-primary(type='submit') Upload Outfit
    hr
    h2 Uploaded Outfits
    .row
      each outfit in outfits
        .col-md-4.col-12(style='text-align:center; margin-bottom:20px;')
          img(src=outfit.image, alt=outfit.name, style='max-width:100%;height:200px;')
          h4= outfit.name
