extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p
  | ClosetClash was created to help people battle their outfits and get real feedback from the community.
  br
  br
  | Upload, vote, and see what styles win!