extends layout

block content
  .container
    h1 Profile / Authentication
    .row
      .col-md-6.col-12
        h3 Login
        form(action='/profile/login', method='POST')
          .form-group
            label(for='login-username') Username
            input#login-username.form-control(type='text', name='username', required)
          .form-group
            label(for='login-password') Password
            input#login-password.form-control(type='password', name='password', required)
          button.btn.btn-primary(type='submit') Login
      .col-md-6.col-12
        h3 Register
        form(action='/profile/register', method='POST')
          .form-group
            label(for='register-username') Username
            input#register-username.form-control(type='text', name='username', required)
          .form-group
            label(for='register-email') Email
            input#register-email.form-control(type='email', name='email', required)
          .form-group
            label(for='register-password') Password
            input#register-password.form-control(type='password', name='password', required)
          button.btn.btn-success(type='submit') Register
    p.text-muted (Demo: forms do not store users yet)
